# Constraints for pip to pin dependencies to oldest supported versions.
# This is used in a GitHub Workflow matrix job which ensures everything
# still works against oldest supported versions of both the Python
# interpreter and Python ependencies. Keep this up-to-date with minimum
# versions in `setup.cfg`.
black==22.3.0
darkgraylib==2.2.0
defusedxml==0.7.1
flake8-2020==1.6.1
flake8-bugbear==22.1.11
flake8-comprehensions==3.7.0
flynt==0.76
mypy==0.990
Pygments==2.4.0
pytest==6.2.0
pytest-kwparametrize==0.0.3
regex==2021.4.4
requests_cache==0.7
ruamel.yaml==0.17.21
toml==0.10.0
twine==2.0.0
types-toml==0.10.4
typing_extensions==4.0.1
wheel==0.21.0
