---
name: isort

on: push  # yamllint disable-line rule:truthy

jobs:
  isort:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - run: pip install 'isort>=5.0.1'
      - uses: wearerequired/lint-action@v2.3.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          isort: true
          continue_on_error: false
