---
name: mypy

on: push  # yamllint disable-line rule:truthy

jobs:
  mypy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - run: |
          pip install -U \
            black \
            flynt \
            isort \
            mypy>=0.990 \
            pytest \
            types-requests \
            types-toml
      - uses: wearerequired/lint-action@v2.3.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          mypy: true
          mypy_args: "src"
          continue_on_error: false
