---
name: mypy

on: push  # yamllint disable-line rule:truthy

jobs:
  mypy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - run: pip install -U isort mypy>=0.990 pytest types-toml
      - uses: wearerequired/lint-action@v2.1.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          mypy: true
          mypy_args: "src"
          continue_on_error: false
