---
name: test-future

# This workflow detects breakage against upcoming releases of dependencies
# even in the absence of activity in Darker's own repository.

on:  # yamllint disable-line rule:truthy
  schedule:
    - cron: "05 20 * * 6"

jobs:
  test-future:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: 'master'
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          # strict dependency resolution added in pip 20.3
          python -m pip install --upgrade 'pip>=20.3'
          pip install \
            --constraint=constraints-future.txt \
            --upgrade \
            --upgrade-strategy=eager \
            -e '.[test]'
      - name: Test with pytest
        run: |
          pytest
